Styles go here
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ' Encode Sans Expanded ', sans-serif;
}
.navitem{
  color: #fff ;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    outline: none;
    margin-top: 8px;
    margin-right: 32px;
    justify-content: center;
    justify-self: flex-start;
    height: 80px;
    cursor: pointer;   
}

.logo:hover{
  color: #fff !important;
  text-decoration: none !important;
}

.link{
color: #fff !important;
text-decoration: none !important;
}

.link:hover{
  color: #fff;
}

.Btn{
  border-radius: 50px ;
    background: #01bf71;
    white-space: nowrap;
    padding: 10px 22px;
    color: #010606;
    font-size: 16px;
    outline: none;
    border: none;
    margin-top: 15px;;
    cursor: pointer;
    transition: all 0.2 ease-in-out;
    text-decoration: none;
  display: flex;
align-items: center;


@media screen and (max-width: 768px) {
    display: none;
}
} 
.Btn:hover{
  transition: all 0.2s ease-in-out;
        white-space: nowrap;
        outline: none;
        background: #fff !important;
        color: #010606;
}
 .heading{
  margin-top: 100px; 
} 

.h3{
  justify-content: center;
  text-align: center;
  color: azure;
background: linear-gradient(108deg, rgba(1, 147, 86, 1) 0%, rgba(10, 201, 122, 1) 100%);
}

.card{
  display: flex;
  justify-content: center;
  text-align: center;
}
.box1{
  padding: 0px 200px 0px 0px;

}

.registerform{
  display: flex !important;
  flex-direction: column !important;
}

.registerform1{
  margin-left: 55px !important;
  display: flex !important;
  flex-direction: column !important;
}

.class.root{
  justify-content: center !important;
  text-align: center !important;
}

.register-property{
  margin:0 auto; 
}

td,tr{
  padding: 30px 0 0 0;
}

.Card{
  box-shadow: 2px 5px 10px;
  padding: 50px 0px 50px 15px; 
  background: linear-gradient(120deg, rgb(240, 240, 240) 0%, rgba(10, 201, 122, 1) 100%);
}
.property-list{
  margin:0 auto;
  text-align: center;
  margin-bottom: "20px";
}